<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CONTACT US</title>
</head>

<body>
<h1><b>Contact Us</b></h1>
<p>
For further details or any information feel free to contact the coordinators.</p>

<ul>
<li>
Harsh Nisar<br />+918128422272<br /><a href="mailto:201101074@daiict.ac.in">201101074@daiict.ac.in</a>
</li><br />
<li>
Mayank Hinger<br />+918460228337<br /><a href="mailto:201101004@daiict.ac.in">201101004@daiict.ac.in</a>
</li><br />
<li>
Shantanu Jain<br />+918460622730<br /><a href="mailto:201101073@daiict.ac.in">201101073@daiict.ac.in</a>
</li><br />
<li>
Zubin Kapadia<br />+919998519814<br /><a href="mailto:201101067@daiict.ac.in">201101067@daiict.ac.in</a>
</li>
</body>
</html>
