<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
body {
	margin:50px 0px; padding:0px;
	text-align:center;
	font-family:Garamond;
	}
	
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	font-family:Garamond;
	}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Game over</title>
</head>

<body style="font-family:Garamond" >
<div id=Content>
<p align=center>
Game Over!<br>
Thanks for playing! Let's wait for the noobs to finish the quiz now! <br>
We will let you know if you are selected.
To influence our decision, please contact us. We accept cash and kind.
<br>
<b>Developers: </b> Shantanu Jain | Harsh Nisar | Mayank Hinger | Zubin Kapadia 
</div>
</body>
</html>