


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
body {
	margin:50px 0px; padding:0px;
	text-align:center;
	font-family:Garamond;
	}
	
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	font-family:Garamond;
	}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Not Started</title>
</head>

<body style="font-family:Garamond" >
<div id=Content>
<p align=center>

<b> PLEASE RE-REGISTER FOR TODAY </b> <br>

<b>This page will open on Saturday, 2nd March on <u>12:15 pm </u>.<br> Hold your horses. </b>
<img src='hold-your-horses.jpg'>
<br>
<b>Developers: </b> Shantanu Jain | Harsh Nisar | Mayank Hinger | Zubin Kapadia 
</div>
</body>
</html>