<!DOCTYPE HTML>

 <html>

<head>

<title>REGISTER </title>
<style>
#table1{
	position:absolute;
	top:30%;
	left:40%;
   
    margin-top: -(Y/2)px;	
	 margin-left: -(Y/2)px;
	
	}
</style>
</head>

<body>

<form name="frm" method="post" action="/sign" >
<h1 align="center"> GOOGLOCK HOLMES </h1>
<h3 align="center">REGISTER </h3>

<table id="table1">



<tr>
<td>Name 1 *</td>
<td><input type="text" name="name1" value ="" size="10" required></td>
</tr>

<tr>
<td>Name 2</td>
<td><input type="text" name="name2" value ="" size="10"></td>
</tr>

<tr>
<td>Team Name *</td>
<td><input type="text" name="team" value ="" size="10" required></td>
</tr>





<tr>
<td>Mobile Number *</td>
<td><input type="tel" name="mobileno" value ="" size="10" maxlength="10" required ></td>

</tr>

<tr></tr>
<tr>
<td>
<input type="submit" value="Submit"></td>
</tr>


</table>

</body>

</html>