<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style>
body {
	margin:50px 0px; padding:0px;
	text-align:center;
	font-family:Garamond;
	}
	
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	font-family:Garamond;
	}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>EVENT STRUCTURE</title>
</head>

<body style="font-family:Garamond">
<div id=Content>
<h1><b>Event Structure</b></h1>
<p>
<h3>
<b>Introduction</b>
</h3>
<ul>
If you are searching for an event to unleash the puzzle busting instincts in you then you are at the right place. Here you dawn the light of Sherlock Holmes in you, with the help of illustrious aide Mr. Google and fire away the silver-bullets from the tricky guns.
</ul>
</p>

<p>
<h3>
<b>Structure</b>
</h3>
<ul>
<li>There Will be <b>2</b> phases</li>
<li>First phase, which will be held on <font color="red"> <b>25th February</b></font>. The timing for the first phase is <font color="red"><b>7:30pm to 9:30pm</b></font>.</li>
<li>There will be <b>20 teams from DA-IICT to be selected and 20 from other colleges for the 2nd phase</b>.</li>
<li>The date for <font color="red"><b>2nd phase is 3rd March </b></font>and 2nd phase will start at <font color="red"><b>2:00pm</b></font>.</li>
<li>There are 40 questions, and you are allowed to use google as much as you want.</li>
<li>You have a total of <font color="red"><b>5 passes</b></font>, which you can use to skip questions you can't find answer to.</li>
<li>You <b>cannot</b> return to the skipped question.</li>
<li>Each question gives you 10 points. The team with the highest points wins at the ending of the game period. If multiple teams finish with the same score, the team which finished earliest wins.</li>
<li>The link to the game will be updated soon. Keep checking and stay tuned.</li>
<li>Note:Team from <b> DA-IICT </b>will have to play the 2nd phase from the lab.</li>
</ul>
</p>

<p>
<h3>
<b>Rules</b>
</h3>
<ul>
<li>Max. team size is 2. </li>
<li>Each participant should register only once specifying their teamates..</li>
<li>Always answer your question with <b>no spaces(if any) </b> in between words. Don't use punctuations.
(i.e. if the answer is “googlock holmes ” write “googlockholmes”) </li>
<li>Always answer your question in <b><u><font color="red">lower case letters</font></u></b>.</li>
<li>Once you skip a questions you <b>can't</b> return to that later.</li>
<li>For each correct answer your score increases by 10 or by corresponding number if mentioned explicitly.</li>
<li>Questions which attract negative marks will be mentioned explicitly.</li>
<li>Any sort of malpractice like multiple accounts shall result in disqualification and coordinators decision shall be deemed final.</li>
<li>Teams can login in to the specified webpage any time during the event.</li>
<li>In case of any disputes the decision of the Team GooglockHolmes would be final.</li></ul>
</p>

<p>
<b>Schedule :
		  <ul><font color="red">FIRST PHASE ON 25TH FEB FROM 7:30pm to 9:30pm.</ul>
		  <ul>SECOND PHASE ON 3RD MARCH FROM 2pm onwards.</ul></font>
		  
		  
</b>

<b>Developers: </b> Shantanu Jain | Harsh Nisar | Mayank Hinger | Zubin Kapadia 

</p>
</div>
</body>
</html>
