<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>RULES</title>
</head>

<body>
<h1><b>Event Structure</b></h1>
<p>This event consists of ****** questions and the participants have to crack the questions one after the other. It will be of *** minutes duration. If a participant is unable to answer a question he/she will have an option to skip the current question and proceed to the next question and he/she can return to the previous question whenever he/she wishes to do so. ***** winners****
</p>
<p>
Schedule : ********

</p>
<h1><b>RULES:</b></h1>
<p>
<ul>
<li>
Max. team size is 2
</li>
<li>
Each participant should register only once.
</li><li>Always answer your question with no spaces(if any) in between words.</li><li>
Always answer your question in lower case letters.</li><li>
For each correct answer your score increases by 10 or by corresponding number if mentioned explicitly.</li><li>
Questions which attract negative marks will be mentioned explicitly.</li><li>
Participants from DAIICT have to register using their student mail ID(Eg:201101004@daiict.ac.in) only. This is mandatory for claiming the prize money.</li><li>
Any sort of malpractices like multiple accounts shall result in disqualification and coordinators decision shall be deemed final.</li><li>
Teams can login in to the specified webpage any time during the event.</li><li>
In case of any disputes the decision of the Team GooglockHolmes would be final.
</li>
</ul>
</body>
</html>
